body {
	margin: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
}

canvas {
	width: calc(100vw - 10px);
	height: calc(100vh - 10px);
	display: block;
	border: 1px solid black;
	border-radius: 10px;
}

.green-color {
	color: greenyellow;
}

.red-color {
	color: red;
}

.yellow-color {
	color: yellow;
}

#toggle-debug-status {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-family: monospace;
	padding: 10px;
	border-radius: 6px;
	font-size: 13px;
	line-height: 1.4;
	pointer-events: none;
	z-index: 9999;
}
